.slider{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.slider img{
    max-width: 600px;
    min-width: 600px;
    max-height: fit-content;
    max-height: 600px;
    display: none;
    align-items: center;
    object-fit: contain;
    image-rendering: smooth;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    align-items: center;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}